@model IEnumerable<serviceStation.Models.Client>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<fieldset name="Search">
    <legend>Search for a client</legend>
    @{
        using (Html.BeginForm("Index", "Clients"))
        {
            @Html.Label("Enter client name or surname")
            ;
            @:&nbsp;
            @Html.TextBox("searchInput", "")
            ;

            <input type="submit" value="Submit"/>
        }
    }
</fieldset>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.ClientId}) |
                @Html.ActionLink("Client Card", "Index", new {controller = "Cars", id = item.ClientId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.ClientId})
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
</body>
</html>
